footer {
  height: 60px;
  display: flex;
  background-color: $backgroundColor;
  box-shadow: 4px 6px 28px -9px rgba(0, 0, 0, 0.75);
  justify-content: center;
  align-items: center;

  .footer__button {
    background-color: $headingColor;
    margin: 5px;
    border-radius: 50%;
    padding: 12px 15px;
    color: $brightColor;
    &:hover {
      border-radius: 10px;
      background-color: green;
      box-shadow: 4px 6px 28px -9px rgba(0, 0, 0, 0.75);
    }
  }

  .footer__input {
    border-radius: 15px;
    max-width: 300px;
    background-color: $brightColor;
    margin: 5px;
    padding: 12px 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  .footer__input--grow {
    flex-grow: 3;
  }
}
