*,
*::before,
*::after {
  box-sizing: border-box;
}

// Variables Start

$backgroundColor: #5cdb95;
$subColor1: #8ee4af;
$subColor2: #379638;
$headingColor: #05386b;
$brightColor: #edf5e1;

// Variables End

body {
  margin: 0;
  padding: 0;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
