header {
  height: 10vh;
  display: flex;
  justify-content: center;
  flex: none;
  background-color: $backgroundColor;
  box-shadow: 4px 6px 28px -9px rgba(0, 0, 0, 0.75);
  .wrap {
    color: $brightColor;
    background-color: $headingColor;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: 1;
    @keyframes example {
      0% {
        background-color: red;
      }
      33% {
        background-color: green;
      }
      66% {
        background-color: blue;
      }
      100% {
        background-color: $headingColor;
      }
    }
  }
}
