<div class="content">
  <div class="content content__box">
    <h3>Gym</h3>
    <h4>1 hrs</h4>
  </div>
  <div class="content content__box content__box--alternate">
    <h3>Bootcamp</h3>
    <h4>9 hrs</h4>
  </div>
  <div class="content content__box">
    <h3>Transport</h3>
    <h4>0.75 hrs</h4>
  </div>
  <div class="content content__box content__box--alternate">
    <h3>Escapeism</h3>
    <h4>2 hrs</h4>
  </div>
  <div class="content content__box">
    <h3>Cook</h3>
    <h4>1 hrs</h4>
  </div>
  <div class="content content__box content__box--alternate">
    <h3>Sleep</h3>
    <h4>8 hrs</h4>
  </div>
  <div class="content content__box">
    <h3>Converse</h3>
    <h4>1.5 hrs</h4>
  </div>
  <div class="content content__box content__box--alternate">
    <h3>Read</h3>
    <h4>0.75 hrs</h4>
  </div>
</div>
